.middlefirst {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: 500px;
  margin-right: 500px;
  background-color: aqua;
  article {
    margin: 10px 0;

    h1,
    h2 {
      margin: 0;
    }
  }
}
.middleimages {
  display: flex;
  width: 100%;
}
.layoutbackground {
  background-color: #dce1e6;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-layout{
  margin-left: 300px;
}
.image-width {
  width: 500px;
  // margin-left: 250px;
}
.end-text-one{
  width: 50%;
  text-align: start;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-left: 60px;
  color: #000;
}
.end-text-two{
  width: 60%;
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin-left: 60px;
}