// styles.scss

$primary-color: #3498db;

body {
  font-family: "Arial", sans-serif;
}

.header {
  background-color: $primary-color;
  color: white;

  h1 {
    font-size: 24px;
  }
}

.container {
  width: 80%;
  margin: 0 auto;

  .box {
    padding: 10px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 14px 80px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.log-container {
  display: flex;
  align-items: center; // Vertically centers items
}
.logo-name {
  font-family: "Revalia";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin-right: 500px;
  box-shadow: 0px 0px 4px 0px #fff;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden; /* Prevent body from scrolling */
}

#root {
  overflow-y: auto;
  height: 100%;
  max-height: 100%; /* Use 100% here to ensure it doesn't exceed the body height */
  width: 100%;
}

/* Add your other styles as needed */

@media screen and (max-width: 768px) {
  .layoutbackground{
    display: flex;
    flex-direction: column;
  }
  .my-view{
   margin-left:20px;
  }
  .image-layout{
    margin-left: 0px;
    // margin-right: 100px;
  }
  .middlefirst{
    margin-left: 150px;
  }
  .carousel-container{
    height: 400px;
  }
}